*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
:root{
    --color1: #e0042c;
    --color2: #201c1c;
    --color3: #382424;
    --color4: #c4dce5;
    --color5: #0c2b43;
    --color6: #113454;
}   
body{
    width: 100%;
    background-image: linear-gradient(var(--color5),var(--color4));
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    height: 70px;
}
header img{
    height: 65px;
}
#nav-menu{
    display: flex;
}
#nav-menu li{
    list-style: none;
    margin-inline: 35px;
}
#nav-menu a{
    text-decoration: none;
    font-size: 25px;
    color: var(--color4);
    background-color: var(--color2);
    padding: 5px;
}
#secao1{
    padding: 15px;
}
#secao1 img{
    width: 98%;
    height: 700px;
    position: absolute;
    border-style: solid;
    border-color: var(--color4);
    border-width: 8px;
    filter: brightness(70%);
}
#textoSlideshow{
    position: relative;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    color: var(--color4);
}
#secao2{
    margin-top: 500px;
    text-align: center;
    padding: 15px;
}
#jogo h2{
    font-size: 40px;
    color: var(--color4);
}
#jogo img{
    width: 100%;
    border-style: solid;
    border-color: var(--color4);
    border-width: 8px;
}
#secao3{
    margin-top: 100px;
    border-style: solid;
    border-color: var(--color4);
    border-width: 8px;
    margin-inline: 20px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    background-color: var(--color3);
    
}
#problema{
    border-right: solid;
    border-color: var(--color4);
    border-width: 3px;
    margin: 20px;
    color: var(--color4);
    
}
#solucao{
    margin: 20px;
    color: var(--color4);
}
footer{
    margin-top: 40px;
    background-color: var(--color2);
    
}
#conteudoFooter{
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--color4);
    gap: 50px;
}
#imgApple{
    height: 40px;
}
#imgGoogle{
    height: 60px;
}