*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
:root{
    --color1: #e0042c;
    --color2: #201c1c;
    --color3: #382424;
}   
body{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    height: 70px;
}
header img{
    height: 65px;
}
#nav-menu{
    display: flex;
}
#nav-menu li{
    list-style: none;
    margin-inline: 35px;
}
#nav-menu a{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    background-color: var(--color2);
    padding: 5px;
}
#secao1{
    padding: 15px;
}
#secao1 img{
    width: 98%;
    height: 700px;
    position: absolute;
    border-style: solid;
    border-color: var(--color2);
    border-width: 8px;
}
#textoSlideshow{
    position: relative;
    padding: 40px;
    font-size: 30px;
    text-align: center;
}
#secao2{
    margin-top: 500px;
    text-align: center;
    padding: 15px;
}
#jogo img{
    width: 100%;
    border-style: solid;
    border-color: var(--color2);
    border-width: 8px;
}
#secao3{
    margin-top: 20px;
    border-style: solid;
    border-color: var(--color2);
    border-width: 8px;
    margin: 20px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center 

    
}
#problema{
    border-right: solid;
    border-color: var(--color2);
    border-width: 3px;
    margin: 20px;
    
}
#solucao{
    margin: 20px;
}